<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>


	<section th:replace="navbar"></section>

<h3 class="left">Form Donasi Barang</h3>
	<form  th:action="@{/donasibarangd}" method="post">
		
		<div class="col-3">
				<input type="text" class="form-input" placeholder="Nama Lengkap" name="namalengkap"></input>
				<input type="text" class="form-input" placeholder="Alamat Lengkap" name="alamat"></input>
				<input type="number" class="form-input" placeholder="Nomor Telepon" name="notelp"></input>
	</div>
	<div class="col-3">
			<input type="text" class="form-input" id="nama_barang" placeholder="Nama Barang" name="namabarang"></input>
			<input type="number" class="form-input" id="jumlah_barang" placeholder="Jumlah barang" name="jumlahbarang" value="0"></input>
			<input type="submit" th:if="${ifEdit == false}" value="Tambah" class="btn-outline"></input>
			<input type="submit" th:if="${ifEdit== true}"  value="Edit" class="btn-outline"></input>
	</div>
</form>
<div class="col-10">
		<div class="col-12 ">
			<h3 class="left">Daftar Donasi Barang</h3>
			<table class="table">
				<thead>
					<tr>
						<td>Nama Lengkap</td>
						<td>Alamat Lengkap</td> 
						<td>No.Telepon</td> 
						<td>Nama Barang</td> 
					    <td>Jumlah Barang</td>
						<td>Status</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="donasi:${listdonasi}">
						<td th:text="${donasi.namalengkap}"></td>
						<td th:text="${donasi.alamat}"></td>
						<td th:text="${donasi.notelp}"></td>
						<td th:text="${donasi.namabarang}"></td>
						<td th:text="${donasi.jumlahbarang}"></td>
						<td th:text="${donasi.status}"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
				
			</div>
			<div th:if="${#lists.isEmpty(listdonasi)}">
				<h5 class="center">Belum ada Donasi.</h5>
			</div>
			
			
		</div>
	<script th:inline="javascript">
	
	function pilihJenisDonasi(value) {
		if(value == "Uang"{
			document.getElementById("jumlah_barang").disabled = true;
			document.getElementById("nama_barang").disabled = true;
			document.getElementById("jumlah_uang").disabled = false;
		}else (value == "Barang") {
			document.getElementById("jumlah_barang").disabled = false;
			document.getElementById("nama_barang").disabled = false;
			document.getElementById("jumlah_uang").disabled = true;
		}
	}
	$(window).load(function(){
		
	});
	$(document).ready(function(){
		$('#tgl1').datepicker({
			format: "dd/mm/yyyy"
		});
		$('#tgl2').datepicker({
			format: "dd/mm/yyyy"
		});
	});
	
	function pilihJenisDonasi(value) {
		
	}
	</script>
</body>
</html>