/**
 * siimple - Minimal CSS framework for flat and clean designs.
 * @version v1.3.7
 * @link https://siimple.juanes.xyz/
 * @license MIT
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
.heart:after {
  content: "\2764";
  color: #f45660; }

body {
  color: #526475;
  margin: 0px;f
  padding: 0px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  background-color: #ffffff; }

blockquote {
  border-left: 4px solid #6a7e95;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px; }

a {
  color: #09a0f6;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover {
    text-decoration: underline;
    cursor: pointer; }

p {
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 0px;
  display: block; }

ul, ol {
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 0px; }
  ul li, ol li {
    line-height: 28px; }

small {
  color: #6a7e95;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #526475;
  display: block;
  margin-bottom: 20px;
  margin-top: 0px; }

h1 {
  font-size: 36px;
  line-height: 50px; }

h2 {
  font-size: 32px;
  line-height: 46px; }

h3 {
  font-size: 28px;
  line-height: 42px; }

h4 {
  font-size: 24px;
  line-height: 38px; }

h5 {
  font-size: 20px;
  line-height: 34px; }

h6 {
  font-size: 16px;
  line-height: 30px; }

.alert {
  display: block;
  width: calc(100% - 30px);
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #E1F5FE;
  color: #03A9F4;
  border-color: #03A9F4; }
  .alert a {
    text-decoration: none;
    font-weight: normal; }
  .alert-error {
    color: #D32F2F;
    background-color: #FFEBEE;
    border-color: #F44336; }
  .alert-warning {
    background-color: #FFF8E1;
    color: #FF8F00;
    border-color: #FFC107; }
  .alert-done {
    background-color: #E8F5E9;
    color: #388E3C;
    border-color: #4CAF50; }

.btn {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  text-decoration: none !important;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  color: #ffffff;
  background-color: #09a0f6;
  border: 0px; }
  .btn:hover {
    text-decoration: none; }
  .btn:hover {
    opacity: 0.8; }
  .btn-small {
    font-size: 14px !important;
    line-height: 20px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .btn-big {
    font-size: 22px !important;
    line-height: 34px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .btn-outline {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    text-decoration: none !important;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    color: #09a0f6;
    background-color: transparent;
    border: 1px solid #09a0f6; }
    .btn-outline:hover {
      text-decoration: none; }
    .btn-outline:hover {
      color: #ffffff;
      background-color: #09a0f6; }

code {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  background-color: #f1f5fa;
  color: #09a0f6; }

code {
  padding-left: 6px;
  padding-right: 6px; }

pre {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: block;
  width: calc(100% - 30px);
  padding: 14px;
  line-height: 28px; }

pre {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f1f5fa;
  color: #526475; }

pre {
  overflow-x: auto; }

.form-input[type="text"], .form-input[type="password"], .form-input[type="number"], .form-input[type="email"] {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  color: #526475;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d1e1e8;
  border-radius: 5px;
  outline: 0px;
  box-sizing: border-box;
  line-height: 40px;
  height: 40px; }
  .form-input[type="text"]:focus, .form-input[type="password"]:focus, .form-input[type="number"]:focus, .form-input[type="email"]:focus {
    border: 1px solid #09a0f6; }

.form-input[type="date"] {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  color: #526475;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d1e1e8;
  border-radius: 5px;
  outline: 0px;
  box-sizing: border-box;
  width: auto !important;
  height: 40px; }
  .form-input[type="date"]:focus {
    border: 1px solid #09a0f6; }

.form-input[disabled] {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  color: #526475;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d1e1e8;
  border-radius: 5px;
  outline: 0px;
  box-sizing: border-box;
  cursor: not-allowed;
  background-color: #d1e1e8;
  height: 40px; }
  .form-input[disabled]:focus {
    border: 1px solid #09a0f6; }

.form-input[type="submit"], .form-input[type="button"] {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  text-decoration: none !important;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  color: #ffffff;
  background-color: #09a0f6;
  border: 0px; }
  .form-input[type="submit"]:hover, .form-input[type="button"]:hover {
    text-decoration: none; }
  .form-input[type="submit"]:hover, .form-input[type="button"]:hover {
    opacity: 0.8; }

.form-select {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  color: #526475;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d1e1e8;
  border-radius: 5px;
  outline: 0px;
  box-sizing: border-box;
  padding-top: 6px;
  height: 40px;
  background-color: #ffffff; }
  .form-select:focus {
    border: 1px solid #09a0f6; }

.form-textarea {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
  color: #526475;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d1e1e8;
  border-radius: 5px;
  outline: 0px;
  box-sizing: border-box;
  resize: vertical; }
  .form-textarea:focus {
    border: 1px solid #09a0f6; }

.form-auto {
  width: auto !important; }

.grid {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 40px; }
  @media (max-width: 960px) {
    .grid {
      width: 94%; } }
  .grid-fluid {
    width: 100%; }

.row {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  .row:after {
    content: " ";
    clear: both;
    display: table;
    line-height: 0; }

.col-1 {
  width: 6.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-2 {
  width: 14.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-3 {
  width: 22.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-4 {
  width: 31.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-5 {
  width: 39.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-6 {
  width: 47.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-7 {
  width: 56.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-8 {
  width: 64.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-9 {
  width: 72.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-10 {
  width: 81.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-11 {
  width: 89.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

.col-12 {
  width: 97.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }

@media (max-width: 400px) {
  .col-1 {
    width: 98%; }
  .col-2 {
    width: 98%; }
  .col-3 {
    width: 98%; }
  .col-4 {
    width: 98%; }
  .col-5 {
    width: 98%; }
  .col-6 {
    width: 98%; }
  .col-7 {
    width: 98%; }
  .col-8 {
    width: 98%; }
  .col-9 {
    width: 98%; }
  .col-10 {
    width: 98%; }
  .col-11 {
    width: 98%; }
  .col-12 {
    width: 98%; } }

.table {
  display: table;
  width: 100%;
  border-width: 0px;
  border-collapse: collapse;
  font-weight: 300;
  color: #526475;
  margin-top: 0px;
  margin-bottom: 20px; }
  .table thead tr td {
    font-weight: normal;
    border-bottom: 2px solid #d1e1e8;
    background-color: #f6f8fa; }
  .table tr td {
    border-bottom: 1px solid #d1e1e8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
    /**
 * @name         siimple v3.0.0
 * @description  Minimal CSS framework for flat and clean designs.
 * @docs         https://www.siimple.xyz/
 * @license      MIT
**/
 
 @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #57607c; }

body {
  margin: 0; }

.siimple-alert {
  display: block;
  width: calc(100% - 10px - 30px);
  color: #57607c;
  line-height: 22px;
  font-size: 14px;
  position: relative;
  border-radius: 5px;
  background-color: #ebf2fa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 16px; }
  .siimple-alert.siimple-alert--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-alert.siimple-alert--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-alert.siimple-alert--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-alert.siimple-alert--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-alert.siimple-alert--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-alert.siimple-alert--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-alert.siimple-alert--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-alert.siimple-alert--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-alert.siimple-alert--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-alert.siimple-alert--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-alert.siimple-alert--white {
    background-color: #ffffff;
    color: #57607c; }

.siimple-btn {
  display: inline-block;
  height: 30px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .siimple-btn:hover {
    opacity: 0.8;
    text-decoration: none; }
  .siimple-btn.siimple-btn--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-btn.siimple-btn--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-btn.siimple-btn--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-btn.siimple-btn--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-btn.siimple-btn--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-btn.siimple-btn--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-btn.siimple-btn--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-btn.siimple-btn--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-btn.siimple-btn--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-btn.siimple-btn--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-btn.siimple-btn--white {
    background-color: #ffffff;
    color: #57607c; }
  .siimple-btn--disabled {
    background-color: #c3d7ef !important;
    color: rgba(87, 96, 124, 0.2) !important;
    cursor: not-allowed !important; }

.siimple-close {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  border-radius: 100px;
  background-color: rgba(135, 144, 171, 0.3); }
  .siimple-close:after, .siimple-close:before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 4px;
    background-color: #ffffff; }
  .siimple-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .siimple-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .siimple-close:hover {
    background-color: rgba(135, 144, 171, 0.6); }

.siimple-alert .siimple-close {
  position: absolute !important;
  right: 5px !important;
  top: 5px !important; }

.siimple-spinner {
  width: 10px;
  height: 10px;
  content: "";
  -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
  animation: siimple_spinner_animation 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 100px;
  display: block;
  text-indent: -9999em;
  font-size: 10px;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px; }

@-webkit-keyframes siimple_spinner_animation {
  50% {
    background-color: transparent; } }

@keyframes siimple_spinner_animation {
  50% {
    background-color: transparent; } }
  .siimple-spinner:before {
    width: 10px;
    height: 10px;
    content: "";
    -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
    animation: siimple_spinner_animation 1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border-radius: 100px;
    position: absolute;
    left: calc(15px * -1);
    top: 0; }
  .siimple-spinner:after {
    width: 10px;
    height: 10px;
    content: "";
    -webkit-animation: siimple_spinner_animation 1s infinite ease-in-out;
    animation: siimple_spinner_animation 1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border-radius: 100px;
    -webkit-animation-delay: 0.66s;
    animation-delay: 0.66s;
    position: absolute;
    left: 15px;
    top: 0; }
  .siimple-spinner.siimple-spinner--navy, .siimple-spinner.siimple-spinner--navy:after, .siimple-spinner.siimple-spinner--navy:before {
    background-color: #57607c; }
  .siimple-spinner.siimple-spinner--green, .siimple-spinner.siimple-spinner--green:after, .siimple-spinner.siimple-spinner--green:before {
    background-color: #1add9f; }
  .siimple-spinner.siimple-spinner--teal, .siimple-spinner.siimple-spinner--teal:after, .siimple-spinner.siimple-spinner--teal:before {
    background-color: #18d2ba; }
  .siimple-spinner.siimple-spinner--blue, .siimple-spinner.siimple-spinner--blue:after, .siimple-spinner.siimple-spinner--blue:before {
    background-color: #4894f0; }
  .siimple-spinner.siimple-spinner--purple, .siimple-spinner.siimple-spinner--purple:after, .siimple-spinner.siimple-spinner--purple:before {
    background-color: #b490f5; }
  .siimple-spinner.siimple-spinner--pink, .siimple-spinner.siimple-spinner--pink:after, .siimple-spinner.siimple-spinner--pink:before {
    background-color: #f45b93; }
  .siimple-spinner.siimple-spinner--red, .siimple-spinner.siimple-spinner--red:after, .siimple-spinner.siimple-spinner--red:before {
    background-color: #ff1a4f; }
  .siimple-spinner.siimple-spinner--orange, .siimple-spinner.siimple-spinner--orange:after, .siimple-spinner.siimple-spinner--orange:before {
    background-color: #ff8463; }
  .siimple-spinner.siimple-spinner--yellow, .siimple-spinner.siimple-spinner--yellow:after, .siimple-spinner.siimple-spinner--yellow:before {
    background-color: #ffbf00; }
  .siimple-spinner.siimple-spinner--grey, .siimple-spinner.siimple-spinner--grey:after, .siimple-spinner.siimple-spinner--grey:before {
    background-color: #ebf2fa; }
  .siimple-spinner.siimple-spinner--white, .siimple-spinner.siimple-spinner--white:after, .siimple-spinner.siimple-spinner--white:before {
    background-color: #ffffff; }
  .siimple-spinner--small, .siimple-spinner--small:before, .siimple-spinner--small:after {
    width: 8px !important;
    height: 8px !important; }
  .siimple-spinner--small:before {
    left: calc(13px * -1) !important; }
  .siimple-spinner--small:after {
    left: 13px !important; }
  .siimple-spinner--large, .siimple-spinner--large:before, .siimple-spinner--large:after {
    width: 15px !important;
    height: 15px !important; }
  .siimple-spinner--large:before {
    left: calc(20px * -1) !important; }
  .siimple-spinner--large:after {
    left: 20px !important; }

.siimple-table {
  display: table;
  width: 100%;
  font-size: 14px;
  color: #57607c;
  border-collapse: collapse;
  border-width: 0px;
  margin-top: 0px;
  margin-bottom: 16px; }
  .siimple-table-row {
    display: table-row;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 2px solid #ffffff; }
    .siimple-table-row:hover {
      background-color: #ebf2fa; }
    .siimple-table-row:last-child {
      border-bottom: 0px; }
  .siimple-table-cell {
    display: table-cell;
    line-height: 24px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .siimple-table--border .siimple-table-cell:not(:last-child) {
    border-right: 2px solid #ffffff; }
  .siimple-table-header {
    display: table-header-group;
    border-bottom: 3px solid #ffffff !important;
    font-weight: bold; }
  .siimple-table-header .siimple-table-row:first-child .siimple-table-cell:first-child {
    border-top-left-radius: 5px; }
  .siimple-table-header .siimple-table-row:first-child .siimple-table-cell:last-child {
    border-top-right-radius: 5px; }
  .siimple-table-header .siimple-table-cell {
    background-color: #c3d7ef !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important; }
  .siimple-table-body {
    display: table-row-group; }
  .siimple-table-body .siimple-table-cell {
    background-color: #ebf2fa; }
  .siimple-table-body .siimple-table-row:last-child .siimple-table-cell:first-child {
    border-bottom-left-radius: 5px; }
  .siimple-table-body .siimple-table-row:last-child .siimple-table-cell:last-child {
    border-bottom-right-radius: 5px; }
  .siimple-table--striped .siimple-table-body .siimple-table-row:nth-child(odd) .siimple-table-cell {
    background-color: #f1f4f9; }
  .siimple-table--hover .siimple-table-body .siimple-table-row:hover .siimple-table-cell {
    background-color: #d7e4f4 !important; }

.siimple-tip {
  display: block;
  position: relative;
  width: calc(100% - 25px - 20px - 5px);
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 5px;
  padding-left: 25px !important;
  padding-right: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  background-color: #ebf2fa;
  font-size: 14px;
  color: #57607c; }
  .siimple-tip::before {
    position: absolute;
    top: 10px;
    left: -12px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    color: #ffffff;
    text-align: center;
    line-height: 20px; }
  .siimple-tip.siimple-tip--navy {
    border-left-color: #57607c; }
    .siimple-tip.siimple-tip--navy::before {
      background-color: #57607c; }
  .siimple-tip.siimple-tip--green {
    border-left-color: #1add9f; }
    .siimple-tip.siimple-tip--green::before {
      background-color: #1add9f; }
  .siimple-tip.siimple-tip--teal {
    border-left-color: #18d2ba; }
    .siimple-tip.siimple-tip--teal::before {
      background-color: #18d2ba; }
  .siimple-tip.siimple-tip--blue {
    border-left-color: #4894f0; }
    .siimple-tip.siimple-tip--blue::before {
      background-color: #4894f0; }
  .siimple-tip.siimple-tip--purple {
    border-left-color: #b490f5; }
    .siimple-tip.siimple-tip--purple::before {
      background-color: #b490f5; }
  .siimple-tip.siimple-tip--pink {
    border-left-color: #f45b93; }
    .siimple-tip.siimple-tip--pink::before {
      background-color: #f45b93; }
  .siimple-tip.siimple-tip--red {
    border-left-color: #ff1a4f; }
    .siimple-tip.siimple-tip--red::before {
      background-color: #ff1a4f; }
  .siimple-tip.siimple-tip--orange {
    border-left-color: #ff8463; }
    .siimple-tip.siimple-tip--orange::before {
      background-color: #ff8463; }
  .siimple-tip.siimple-tip--yellow {
    border-left-color: #ffbf00; }
    .siimple-tip.siimple-tip--yellow::before {
      background-color: #ffbf00; }
  .siimple-tip.siimple-tip--grey {
    border-left-color: #ebf2fa; }
    .siimple-tip.siimple-tip--grey::before {
      background-color: #ebf2fa; }
  .siimple-tip.siimple-tip--white {
    border-left-color: #ffffff; }
    .siimple-tip.siimple-tip--white::before {
      background-color: #ffffff; }
  .siimple-tip--heart::before {
    content: "\2764"; }
  .siimple-tip--exclamation::before {
    content: "!"; }
  .siimple-tip--question::before {
    content: "?"; }

.siimple-form {
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 14px; }
  .siimple-form-rule {
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #d7e4f4;
    margin-top: 5px;
    margin-bottom: 16px; }
  .siimple-form-title {
    display: block;
    width: 100%;
    vertical-align: top;
    font-weight: bold;
    font-size: 25px;
    color: #57607c;
    margin-top: 0px;
    margin-bottom: 5px; }
  .siimple-form-detail {
    display: block;
    width: 100%;
    vertical-align: top;
    font-size: 14px;
    color: #57607c;
    margin-top: 0px;
    margin-bottom: 10px; }
  .siimple-form-field {
    display: block;
    vertical-align: top;
    margin-bottom: 16px;
    margin-top: 0px; }
    .siimple-form-field-label {
      display: block;
      width: 100%;
      vertical-align: top;
      font-weight: bold;
      font-size: 13px;
      color: #57607c;
      margin-top: 0px;
      margin-bottom: 5px; }
    .siimple-form-field-helper {
      font-weight: normal;
      font-size: 12px;
      color: #8790ab;
      margin-top: 5px;
      margin-bottom: 15px; }

.siimple-checkbox {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px; }
  .siimple-checkbox label {
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: #ebf2fa; }
    .siimple-checkbox label:after {
      opacity: 0.2;
      content: '';
      width: 8px;
      height: 4px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      position: absolute;
      top: 3px;
      left: 3px;
      background: transparent;
      border: 2px solid #57607c;
      border-top: none;
      border-right: none; }
    .siimple-checkbox label:hover::after {
      opacity: 0.5; }
  .siimple-checkbox input[type=checkbox] {
    visibility: hidden; }
  .siimple-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
    border-color: #ffffff; }
  .siimple-checkbox input[type=checkbox]:checked + label {
    background-color: #1add9f; }

.siimple-input, .siimple-select {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #57607c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  border-radius: 5px;
  outline: 0px;
  background-color: #ebf2fa; }
  .siimple-input--fluid, .siimple-select--fluid {
    width: 100%; }

.siimple-switch {
  display: inline-block;
  width: 30px;
  height: 16px;
  position: relative;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px; }
  .siimple-switch label {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: hand;
    background: #ffffff;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2; }
  .siimple-switch div {
    width: 100%;
    height: 100%;
    background: #8790ab;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    top: -18px;
    z-index: 1; }
  .siimple-switch input[type=checkbox] {
    visibility: hidden; }
  .siimple-switch input[type=checkbox]:checked ~ div {
    background: #1add9f; }
  .siimple-switch input[type=checkbox]:checked ~ label {
    left: 16px; }

.siimple-textarea {
  display: inline-block;
  line-height: 22px;
  font-size: 14px;
  color: #57607c;
  padding: 10px;
  border: 0px;
  outline: 0px;
  border-radius: 5px;
  background-color: #ebf2fa; }
  .siimple-textarea--fluid {
    width: 100%; }

.siimple-label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #57607c;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 0px; }

.siimple-grid {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .siimple-grid-row {
    display: inline-block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px; }
    .siimple-grid-row:after {
      content: " ";
      clear: both;
      display: table;
      line-height: 0; }
  .siimple-grid-col {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  .siimple-grid-col--1 {
    width: calc(8.33% - 10px - 10px); }
  .siimple-grid-col--2 {
    width: calc(16.66% - 10px - 10px); }
  .siimple-grid-col--3 {
    width: calc(24.99% - 10px - 10px); }
  .siimple-grid-col--4 {
    width: calc(33.33% - 10px - 10px); }
  .siimple-grid-col--5 {
    width: calc(41.66% - 10px - 10px); }
  .siimple-grid-col--6 {
    width: calc(49.99% - 10px - 10px); }
  .siimple-grid-col--7 {
    width: calc(58.33% - 10px - 10px); }
  .siimple-grid-col--8 {
    width: calc(66.66% - 10px - 10px); }
  .siimple-grid-col--9 {
    width: calc(74.99% - 10px - 10px); }
  .siimple-grid-col--10 {
    width: calc(83.33% - 10px - 10px); }
  .siimple-grid-col--11 {
    width: calc(91.66% - 10px - 10px); }
  .siimple-grid-col--12 {
    width: calc(99.99% - 10px - 10px); }
  @media (max-width: 1280px) {
    .siimple-grid-col-xl--1 {
      width: calc(8.33% - 10px - 10px); }
    .siimple-grid-col-xl--2 {
      width: calc(16.66% - 10px - 10px); }
    .siimple-grid-col-xl--3 {
      width: calc(24.99% - 10px - 10px); }
    .siimple-grid-col-xl--4 {
      width: calc(33.33% - 10px - 10px); }
    .siimple-grid-col-xl--5 {
      width: calc(41.66% - 10px - 10px); }
    .siimple-grid-col-xl--6 {
      width: calc(49.99% - 10px - 10px); }
    .siimple-grid-col-xl--7 {
      width: calc(58.33% - 10px - 10px); }
    .siimple-grid-col-xl--8 {
      width: calc(66.66% - 10px - 10px); }
    .siimple-grid-col-xl--9 {
      width: calc(74.99% - 10px - 10px); }
    .siimple-grid-col-xl--10 {
      width: calc(83.33% - 10px - 10px); }
    .siimple-grid-col-xl--11 {
      width: calc(91.66% - 10px - 10px); }
    .siimple-grid-col-xl--12 {
      width: calc(99.99% - 10px - 10px); } }
  @media (max-width: 960px) {
    .siimple-grid-col-lg--1 {
      width: calc(8.33% - 10px - 10px); }
    .siimple-grid-col-lg--2 {
      width: calc(16.66% - 10px - 10px); }
    .siimple-grid-col-lg--3 {
      width: calc(24.99% - 10px - 10px); }
    .siimple-grid-col-lg--4 {
      width: calc(33.33% - 10px - 10px); }
    .siimple-grid-col-lg--5 {
      width: calc(41.66% - 10px - 10px); }
    .siimple-grid-col-lg--6 {
      width: calc(49.99% - 10px - 10px); }
    .siimple-grid-col-lg--7 {
      width: calc(58.33% - 10px - 10px); }
    .siimple-grid-col-lg--8 {
      width: calc(66.66% - 10px - 10px); }
    .siimple-grid-col-lg--9 {
      width: calc(74.99% - 10px - 10px); }
    .siimple-grid-col-lg--10 {
      width: calc(83.33% - 10px - 10px); }
    .siimple-grid-col-lg--11 {
      width: calc(91.66% - 10px - 10px); }
    .siimple-grid-col-lg--12 {
      width: calc(99.99% - 10px - 10px); } }
  @media (max-width: 768px) {
    .siimple-grid-col-md--1 {
      width: calc(8.33% - 10px - 10px); }
    .siimple-grid-col-md--2 {
      width: calc(16.66% - 10px - 10px); }
    .siimple-grid-col-md--3 {
      width: calc(24.99% - 10px - 10px); }
    .siimple-grid-col-md--4 {
      width: calc(33.33% - 10px - 10px); }
    .siimple-grid-col-md--5 {
      width: calc(41.66% - 10px - 10px); }
    .siimple-grid-col-md--6 {
      width: calc(49.99% - 10px - 10px); }
    .siimple-grid-col-md--7 {
      width: calc(58.33% - 10px - 10px); }
    .siimple-grid-col-md--8 {
      width: calc(66.66% - 10px - 10px); }
    .siimple-grid-col-md--9 {
      width: calc(74.99% - 10px - 10px); }
    .siimple-grid-col-md--10 {
      width: calc(83.33% - 10px - 10px); }
    .siimple-grid-col-md--11 {
      width: calc(91.66% - 10px - 10px); }
    .siimple-grid-col-md--12 {
      width: calc(99.99% - 10px - 10px); } }
  @media (max-width: 480px) {
    .siimple-grid-col-sm--1 {
      width: calc(8.33% - 10px - 10px); }
    .siimple-grid-col-sm--2 {
      width: calc(16.66% - 10px - 10px); }
    .siimple-grid-col-sm--3 {
      width: calc(24.99% - 10px - 10px); }
    .siimple-grid-col-sm--4 {
      width: calc(33.33% - 10px - 10px); }
    .siimple-grid-col-sm--5 {
      width: calc(41.66% - 10px - 10px); }
    .siimple-grid-col-sm--6 {
      width: calc(49.99% - 10px - 10px); }
    .siimple-grid-col-sm--7 {
      width: calc(58.33% - 10px - 10px); }
    .siimple-grid-col-sm--8 {
      width: calc(66.66% - 10px - 10px); }
    .siimple-grid-col-sm--9 {
      width: calc(74.99% - 10px - 10px); }
    .siimple-grid-col-sm--10 {
      width: calc(83.33% - 10px - 10px); }
    .siimple-grid-col-sm--11 {
      width: calc(91.66% - 10px - 10px); }
    .siimple-grid-col-sm--12 {
      width: calc(99.99% - 10px - 10px); } }

.siimple-layout {
  display: block;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #57607c;
  font-weight: normal; }
  .siimple-layout--left {
    float: left; }
  .siimple-layout--right {
    float: right; }

.siimple-box {
  display: block;
  vertical-align: top;
  width: calc(100% - 20px);
  background-color: #ebf2fa;
  font-size: 14px;
  color: #57607c;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; }
  .siimple-box-title {
    display: block;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px; }
    .siimple-box-title:last-child {
      margin-bottom: 20px; }
  .siimple-box-subtitle {
    display: block;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px; }
    .siimple-box-subtitle:first-child {
      margin-top: 20px; }
    .siimple-box-subtitle:last-child {
      margin-bottom: 20px; }
  .siimple-box-title + .siimple-box-subtitle {
    margin-top: -12px; }
  .siimple-box-detail {
    display: block;
    margin-bottom: 10px; }
    .siimple-box-detail:first-child {
      margin-top: 20px; }
    .siimple-box-detail:last-child {
      margin-bottom: 20px; }
  .siimple-box.siimple-box--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-box.siimple-box--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-box.siimple-box--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-box.siimple-box--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-box.siimple-box--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-box.siimple-box--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-box.siimple-box--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-box.siimple-box--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-box.siimple-box--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-box.siimple-box--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-box.siimple-box--white {
    background-color: #ffffff;
    color: #57607c; }

.siimple-breadcrumb {
  display: block;
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  margin-top: 0px; }
  .siimple-breadcrumb-crumb {
    display: inline-block;
    float: left;
    position: relative;
    height: 34px;
    line-height: 34px;
    background-color: #ebf2fa;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #8790ab;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .siimple-breadcrumb-crumb:hover {
      color: #57607c;
      cursor: pointer; }
    .siimple-breadcrumb-crumb:after {
      content: "";
      z-index: 1;
      position: absolute;
      right: -17px;
      top: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 17px solid #ebf2fa; }
    .siimple-breadcrumb-crumb:before {
      content: "";
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 17px solid #ffffff; }
    .siimple-breadcrumb-crumb:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-left: 10px; }
    .siimple-breadcrumb-crumb:first-of-type:before {
      display: none; }
    .siimple-breadcrumb-crumb:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-right: 10px; }
    .siimple-breadcrumb-crumb:last-of-type:after {
      display: none; }

.siimple-content {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px; }
  .siimple-content--small {
    width: 768px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px); }
    @media screen and (max-width: 768px) {
      .siimple-content--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-content--medium {
    width: 960px;
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px); }
    @media screen and (max-width: 960px) {
      .siimple-content--medium {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-content--large {
     width: 768px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px); }
    @media screen and (max-width: 768px) {
      .siimple-content--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-content--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px; }

.siimple-footer {
  display: block;
  padding-top: 50px;
  padding-bottom: 80px; }
  .siimple-footer--small {
    width: 768px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px); }
    @media screen and (max-width: 768px) {
      .siimple-footer--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-footer--medium {
    width: 960px;
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px); }
    @media screen and (max-width: 960px) {
      .siimple-footer--medium {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-footer--large {
    width: 1180px;
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px); }
    @media screen and (max-width: 1180px) {
      .siimple-footer--large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-footer--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px; }
  .siimple-footer.siimple-footer--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-footer.siimple-footer--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-footer.siimple-footer--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-footer.siimple-footer--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-footer.siimple-footer--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-footer.siimple-footer--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-footer.siimple-footer--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-footer.siimple-footer--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-footer.siimple-footer--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-footer.siimple-footer--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-footer.siimple-footer--white {
    background-color: #ffffff;
    color: #57607c; }

.siimple-jumbotron {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px; }
  .siimple-jumbotron--small {
    width: 768px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px); }
    @media screen and (max-width: 768px) {
      .siimple-jumbotron--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-jumbotron--medium {
    width: 960px;
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px); }
    @media screen and (max-width: 960px) {
      .siimple-jumbotron--medium {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-jumbotron--large {
    width: 1180px;
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px); }
    @media screen and (max-width: 1180px) {
      .siimple-jumbotron--large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-jumbotron--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px; }
  .siimple-jumbotron-title {
    display: block;
    text-decoration: none;
    line-height: 60px;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .siimple-jumbotron-subtitle {
    display: block;
    text-decoration: none;
    line-height: 40px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .siimple-jumbotron-detail {
    display: block;
    text-decoration: none;
    line-height: 30px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .siimple-jumbotron.siimple-jumbotron--navy {
    background-color: #495169;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--green {
    background-color: #18cd94;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--teal {
    background-color: #15b7a1;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--blue {
    background-color: #2a82ef;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--purple {
    background-color: #9f73f2;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--pink {
    background-color: #f24081;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--red {
    background-color: #ff003c;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--orange {
    background-color: #ff734d;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--yellow {
    background-color: #e6ac00;
    color: #ffffff; }
  .siimple-jumbotron.siimple-jumbotron--grey {
    background-color: #d7e4f4;
    color: #57607c; }
  .siimple-jumbotron.siimple-jumbotron--white {
    background-color: #ffffff;
    color: #57607c; }

.siimple-menu {
  display: block;
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px; }
  .siimple-menu-group {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-weight: bold;
    text-decoration: none;
    color: #697496; }
    .siimple-menu-group:not(:first-child) {
      margin-top: 10px; }
    .siimple-menu-group:hover {
      text-decoration: none !important;
      color: #697496; }
  .siimple-menu-item {
    display: block;
    height: 34px;
    line-height: 34px;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    color: #57607c;
    font-weight: normal;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1.0;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer; }
    .siimple-menu-item:hover {
      background-color: #ebf2fa;
      text-decoration: none !important;
      color: #57607c; }
  .siimple-menu-sub {
    display: block;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #d7e4f4; }

.siimple-navbar {
  display: block;
  z-index: 3;
  height: 60px; }
  .siimple-navbar--small {
    width: 768px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px); }
    @media screen and (max-width: 768px) {
      .siimple-navbar--small {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-navbar--medium {
    width: 960px;
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px); }
    @media screen and (max-width: 960px) {
      .siimple-navbar--medium {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-navbar--large {
    width: 1180px;
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px); }
    @media screen and (max-width: 1180px) {
      .siimple-navbar--large {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; } }
  .siimple-navbar--fluid {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px; }
  .siimple-navbar-item {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: normal; }
  .siimple-navbar-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; }
  .siimple-navbar-link {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: normal;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; }
  .siimple-navbar.siimple-navbar--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--navy .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--navy .siimple-navbar-title:hover {
      background-color: #495169;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--navy .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--navy .siimple-navbar-link:hover {
      background-color: #495169;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--green .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--green .siimple-navbar-title:hover {
      background-color: #18cd94;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--green .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--green .siimple-navbar-link:hover {
      background-color: #18cd94;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--teal .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--teal .siimple-navbar-title:hover {
      background-color: #15b7a1;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--teal .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--teal .siimple-navbar-link:hover {
      background-color: #15b7a1;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--blue .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--blue .siimple-navbar-title:hover {
      background-color: #2a82ef;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--blue .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--blue .siimple-navbar-link:hover {
      background-color: #2a82ef;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--purple .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--purple .siimple-navbar-title:hover {
      background-color: #9f73f2;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--purple .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--purple .siimple-navbar-link:hover {
      background-color: #9f73f2;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--pink .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--pink .siimple-navbar-title:hover {
      background-color: #f24081;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--pink .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--pink .siimple-navbar-link:hover {
      background-color: #f24081;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--red .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--red .siimple-navbar-title:hover {
      background-color: #ff003c;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--red .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--red .siimple-navbar-link:hover {
      background-color: #ff003c;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--orange .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--orange .siimple-navbar-title:hover {
      background-color: #ff734d;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--orange .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--orange .siimple-navbar-link:hover {
      background-color: #ff734d;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-navbar.siimple-navbar--yellow .siimple-navbar-title {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--yellow .siimple-navbar-title:hover {
      background-color: #e6ac00;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--yellow .siimple-navbar-link {
    color: #ffffff; }
    .siimple-navbar.siimple-navbar--yellow .siimple-navbar-link:hover {
      background-color: #e6ac00;
      color: #ffffff; }
  .siimple-navbar.siimple-navbar--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-navbar.siimple-navbar--grey .siimple-navbar-title {
    color: #57607c; }
    .siimple-navbar.siimple-navbar--grey .siimple-navbar-title:hover {
      background-color: #d7e4f4;
      color: #57607c; }
  .siimple-navbar.siimple-navbar--grey .siimple-navbar-link {
    color: #57607c; }
    .siimple-navbar.siimple-navbar--grey .siimple-navbar-link:hover {
      background-color: #d7e4f4;
      color: #57607c; }
  .siimple-navbar.siimple-navbar--white {
    background-color: #ffffff;
    color: #57607c; }
  .siimple-navbar.siimple-navbar--white .siimple-navbar-title {
    color: #57607c; }
    .siimple-navbar.siimple-navbar--white .siimple-navbar-title:hover {
      background-color: #ffffff;
      color: #57607c; }
  .siimple-navbar.siimple-navbar--white .siimple-navbar-link {
    color: #57607c; }
    .siimple-navbar.siimple-navbar--white .siimple-navbar-link:hover {
      background-color: #ffffff;
      color: #57607c; }

.siimple-tabs {
  display: block;
  position: relative;
  z-index: 8;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 2px solid #ebf2fa;
  margin-bottom: 10px;
  margin-top: 0px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .siimple-tabs-tab {
    display: inline-block;
    float: left;
    z-index: 10;
    height: 39px;
    line-height: 40px;
    font-weight: bold;
    color: #697496;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .siimple-tabs-tab:hover {
      border-bottom: 2px solid #8790ab; }
    .siimple-tabs-tab--selected {
      color: #57607c;
      border-bottom: 2px solid #57607c; }
  .siimple-tabs--boxed .siimple-tabs-tab:hover {
    background-color: #ebf2fa; }
  .siimple-tabs.siimple-tabs--navy .siimple-tabs-tab:hover {
    border-bottom-color: #8790ab; }
  .siimple-tabs.siimple-tabs--navy .siimple-tabs-tab--selected {
    color: #57607c !important;
    border-bottom-color: #57607c !important; }
  .siimple-tabs.siimple-tabs--green .siimple-tabs-tab:hover {
    border-bottom-color: #48eab7; }
  .siimple-tabs.siimple-tabs--green .siimple-tabs-tab--selected {
    color: #1add9f !important;
    border-bottom-color: #1add9f !important; }
  .siimple-tabs.siimple-tabs--teal .siimple-tabs-tab:hover {
    border-bottom-color: #32e7cf; }
  .siimple-tabs.siimple-tabs--teal .siimple-tabs-tab--selected {
    color: #18d2ba !important;
    border-bottom-color: #18d2ba !important; }
  .siimple-tabs.siimple-tabs--blue .siimple-tabs-tab:hover {
    border-bottom-color: #71acf4; }
  .siimple-tabs.siimple-tabs--blue .siimple-tabs-tab--selected {
    color: #4894f0 !important;
    border-bottom-color: #4894f0 !important; }
  .siimple-tabs.siimple-tabs--purple .siimple-tabs-tab:hover {
    border-bottom-color: #cfb9f8; }
  .siimple-tabs.siimple-tabs--purple .siimple-tabs-tab--selected {
    color: #b490f5 !important;
    border-bottom-color: #b490f5 !important; }
  .siimple-tabs.siimple-tabs--pink .siimple-tabs-tab:hover {
    border-bottom-color: #f788b0; }
  .siimple-tabs.siimple-tabs--pink .siimple-tabs-tab--selected {
    color: #f45b93 !important;
    border-bottom-color: #f45b93 !important; }
  .siimple-tabs.siimple-tabs--red .siimple-tabs-tab:hover {
    border-bottom-color: #ff4d76; }
  .siimple-tabs.siimple-tabs--red .siimple-tabs-tab--selected {
    color: #ff1a4f !important;
    border-bottom-color: #ff1a4f !important; }
  .siimple-tabs.siimple-tabs--orange .siimple-tabs-tab:hover {
    border-bottom-color: #ffaf99; }
  .siimple-tabs.siimple-tabs--orange .siimple-tabs-tab--selected {
    color: #ff8463 !important;
    border-bottom-color: #ff8463 !important; }
  .siimple-tabs.siimple-tabs--yellow .siimple-tabs-tab:hover {
    border-bottom-color: #ffcc33; }
  .siimple-tabs.siimple-tabs--yellow .siimple-tabs-tab--selected {
    color: #ffbf00 !important;
    border-bottom-color: #ffbf00 !important; }
  .siimple-tabs.siimple-tabs--grey .siimple-tabs-tab:hover {
    border-bottom-color: #f1f4f9; }
  .siimple-tabs.siimple-tabs--grey .siimple-tabs-tab--selected {
    color: #ebf2fa !important;
    border-bottom-color: #ebf2fa !important; }
  .siimple-tabs.siimple-tabs--white .siimple-tabs-tab:hover {
    border-bottom-color: #ffffff; }
  .siimple-tabs.siimple-tabs--white .siimple-tabs-tab--selected {
    color: #ffffff !important;
    border-bottom-color: #ffffff !important; }

.siimple-blockquote {
  display: block;
  color: #8790ab;
  font-size: 14px;
  border-left: 4px solid #8790ab;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 16px; }

.siimple-code {
  color: #57607c;
  text-decoration: none;
  font-size: 14px;
  background-color: #ebf2fa;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px; }
  .siimple-code--dark {
    background-color: #57607c !important;
    color: #ffffff; }

.siimple-pre {
  display: block;
  overflow-x: auto;
  width: calc(100% - 10px - 10px);
  color: #57607c;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
  background-color: #ebf2fa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 16px; }
  .siimple-pre--dark {
    background-color: #57607c !important;
    color: #ffffff; }

.siimple-h1 {
  display: block;
  font-size: 45px;
  font-weight: bold;
  line-height: 51px;
  color: #57607c;
  padding: 0px;
  margin-bottom: 20px; }
  .siimple-h1:not(:first-child) {
    margin-top: 28px; }

.siimple-h2 {
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #57607c;
  padding: 0px;
  margin-bottom: 20px; }
  .siimple-h2:not(:first-child) {
    margin-top: 28px; }

.siimple-h3 {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #57607c;
  padding: 0px;
  margin-bottom: 18px; }
  .siimple-h3:not(:first-child) {
    margin-top: 28px; }

.siimple-h4 {
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: #57607c;
  padding: 0px;
  margin-bottom: 16px; }
  .siimple-h4:not(:first-child) {
    margin-top: 28px; }

.siimple-h5 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #57607c;
  padding: 0px;
  margin-bottom: 14px; }
  .siimple-h5:not(:first-child) {
    margin-top: 28px; }

.siimple-h6 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #57607c;
  padding: 0px;
  margin-bottom: 12px; }
  .siimple-h6:not(:first-child) {
    margin-top: 28px; }

.siimple-tag {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  line-height: 22px;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 1px; }
  .siimple-tag.siimple-tag--navy {
    background-color: #57607c;
    color: #ffffff; }
  .siimple-tag.siimple-tag--green {
    background-color: #1add9f;
    color: #ffffff; }
  .siimple-tag.siimple-tag--teal {
    background-color: #18d2ba;
    color: #ffffff; }
  .siimple-tag.siimple-tag--blue {
    background-color: #4894f0;
    color: #ffffff; }
  .siimple-tag.siimple-tag--purple {
    background-color: #b490f5;
    color: #ffffff; }
  .siimple-tag.siimple-tag--pink {
    background-color: #f45b93;
    color: #ffffff; }
  .siimple-tag.siimple-tag--red {
    background-color: #ff1a4f;
    color: #ffffff; }
  .siimple-tag.siimple-tag--orange {
    background-color: #ff8463;
    color: #ffffff; }
  .siimple-tag.siimple-tag--yellow {
    background-color: #ffbf00;
    color: #ffffff; }
  .siimple-tag.siimple-tag--grey {
    background-color: #ebf2fa;
    color: #57607c; }
  .siimple-tag.siimple-tag--white {
    background-color: #ffffff;
    color: #57607c; }

.siimple-small {
  font-size: 12px;
  color: #8790ab; }

.siimple-p, .siimple-paragraph {
  display: block;
  line-height: 22px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 16px; }

.siimple-a, .siimple-link {
  color: #57607c;
  font-weight: bold;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .siimple-a:hover, .siimple-link:hover {
    text-decoration: underline;
    cursor: pointer; }

.siimple-color--navy {
  color: #57607c; }

.siimple-color--green {
  color: #1add9f; }

.siimple-color--teal {
  color: #18d2ba; }

.siimple-color--blue {
  color: #4894f0; }

.siimple-color--purple {
  color: #b490f5; }

.siimple-color--pink {
  color: #f45b93; }

.siimple-color--red {
  color: #ff1a4f; }

.siimple-color--orange {
  color: #ff8463; }

.siimple-color--yellow {
  color: #ffbf00; }

.siimple-color--grey {
  color: #ebf2fa; }

.siimple-color--white {
  color: #ffffff; }

.siimple-bg--navy {
  background-color: #57607c; }

.siimple-bg--green {
  background-color: #1add9f; }

.siimple-bg--teal {
  background-color: #18d2ba; }

.siimple-bg--blue {
  background-color: #4894f0; }

.siimple-bg--purple {
  background-color: #b490f5; }

.siimple-bg--pink {
  background-color: #f45b93; }

.siimple-bg--red {
  background-color: #ff1a4f; }

.siimple-bg--orange {
  background-color: #ff8463; }

.siimple-bg--yellow {
  background-color: #ffbf00; }

.siimple-bg--grey {
  background-color: #ebf2fa; }

.siimple-bg--white {
  background-color: #ffffff; }
  
  /*
Template Name: Charity Hope
Title: charity website template free download bootstrap Charity Hope
Description: charity website template with bootstrap framework for free download and best suited for ngos charities.
Keyword: charity website template, bootstrap charity template free, charity website templates bootstrap, donation website template free, charity website templates bootstrap free download
Author: Bootstrap Website Templates
Author URI: https://bootstrapwebtemplates.com/
Template URI: https://bootstrapwebtemplates.com/free-download-bootstrap-charity-website-template
Tags: charity, charity hub, donate, donations, foundation, fundraising, ngo, non profit, non-profit, nonprofit, organization, social, volunteer, welfare, Causes
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

html,body {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
	font-size:14px;
	line-height:24px;
	color:#6f6f6f;
}

a{
    color: #6f6f6f;
}

a,
a:active,
a:focus,
a:hover{
	outline:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover{
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
	color:#3f3f3f;
	margin:0 0 0 0;
    font-weight: bold;
}

h1{
	font-size:48px;
	line-height:52px;
}

h2{
	font-size:36px;
	line-height:48px;
}

h3{
	font-size:30px;
	line-height:36px;
}

h4{
	font-size:24px;
	line-height:30px;
}

h5{
	font-size:18px;
	line-height:24px;
}

h6{
	font-size:14px;
	line-height:18px;
}

p{
	margin-bottom:20px;
}

.topbar{
    padding:5px 0;
    background-color: #2f3191;
	color:#fff;
}
.topbar .bar-phone{
	border-right:1px solid #fff;
	font-size:14px;
	line-height:14px;
	float:left;
	padding-right:20px;
	margin: 9px 0;
}
.topbar .bar-mail{
	font-size:14px;
	line-height:14px;
	float:left;
	margin: 9px 0;
	margin-left:20px;
}
.topbar .bar-phone strong, .topbar .bar-mail strong{
	font-weight:600;
}
.topbar .header-social{
	float:right;
	margin:-5px 0;
}
.topbar .header-social a{
	color:#fff;
	display:block;
	float:left;
	font-size:16px;
	height:43px;
	width:50px;
	text-align:center;
	line-height:43px;
	border-right:1px solid #fff;
}
.topbar .header-social a:first-of-type{
	border-left:1px solid #fff;
}
.topbar .header-social .facebook:hover{
	background:#3B5998;
}
.topbar .header-social .twitter:hover{
	background:#55ACEE;
}
.topbar .header-social .linkedin:hover{
	background:#32608a;
}
.topbar .header-social .google:hover{
	background:#dd4b39;
}
.topbar .header-social .youtube:hover{
	background:#e52d27;
}
.sponsor-button {
    border: 2px solid #2f3191;
    border-radius: 3px;
    color: #2f3191;
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 5px 10px;
	font-weight:600;
	text-transform:uppercase;
}
.donation{
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
	margin: 20px 0 0 0;
	font-weight:600;
	text-transform:uppercase;
	background:#ec1d25;
	border:2px solid #ec1d25;
}
.donation:hover{
	background:#fff;
	color: #ec1d25;
	border:2px solid #ec1d25;
}
.sponsor-button:hover {
    background-color: #2f3191;
    color: #fff;
}
.navbar > .container .navbar-brand {
    width: 260px;
    padding: 5px 15px;
}


#first-slider .main-container {
  padding: 0;
}

#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2{
    color: #fff;
    font-size:60px;
    text-transform: uppercase;
    font-weight:700;
	width:80%;
	margin:0 auto;
	padding:15% 0 0 0;
}
#first-slider .slide1 h2 span, #first-slider .slide2 h2 span, #first-slider .slide3 h2 span, #first-slider .slide4 h2 span{
	background: #2f3191;
	padding: 0 20px;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 20px;
	width:60%;
	margin:35px auto 0 auto;
	line-height:28px;
	font-weight:400;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size:16px;
    text-transform: uppercase;
    font-weight:700;
	width:80%;
	margin:20px auto 0 auto;
}
#first-slider .slide1 h4 a,#first-slider .slide2 h4 a,#first-slider .slide3 h4 a,#first-slider .slide4 h4 a{
	color:#fff;
	background:#ec1d25;
	display:inline-block;
	border-radius:3px;
	padding:5px 20px;
}
#first-slider .slide1 h4 a:hover,#first-slider .slide2 h4 a:hover,#first-slider .slide3 h4 a:hover,#first-slider .slide4 h4 a:hover{
	color:#fff;
	background:#ec1d25;
	display:inline-block;
	border-radius:3px;
	padding:5px 20px;
}

#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height:540px; 
  height: 100%;
  width:100%;
  text-align:center;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 2s;
}
#first-slider h4 {
  animation-delay: 3s;
}
#first-slider h2 {
  animation-delay: 1s;
}


#first-slider .carousel-control {
    width: 5%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 25%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 25%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
	background:url(../images/slide1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
	background:url(../images/slide2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#first-slider .slide3 {
	background:url(../images/slide3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#first-slider .slide4 {
	background:url(../images/slide4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#about-sec{
	display:block;
	width:100%;
	margin:60px 0;
}
#about-sec h1{
	color: #ec1d25;
}
#about-sec h2{
	margin-top:50px;
	font-size:30px;
	line-height:36px;
}
#about-sec hr{
	width:150px; border:2px solid #2f3191;
}
#about-sec p{
	margin:15px 0 0 0;
}
#about-sec .btn1 {
    border: 2px solid #2f3191;
    border-radius: 3px;
    color: #2f3191;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 9px 20px;
	font-weight:600;
	text-transform:uppercase;
}
#about-sec .btn1:hover {
    border: 2px solid #ec1d25;
	background:#ec1d25;
    color: #fff;
}
#about-sec .btn2 {
	background:#ec1d25;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 30px 0 0 20px;
    padding: 9px 20px;
	font-weight:600;
	text-transform:uppercase;
}
#about-sec .btn2:hover {
    background-color: #2f3191;
    color: #fff;
}

#activities-sec{
	display:block;
	width:100%;
	background: url(../images/act-bg.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	margin:60px 0;
	padding:60px 0;
}
#activities-sec h1, #activities-sec h4, #activities-sec h5{
	color: #fff;
}
#activities-sec h4{
	text-transform:uppercase;
	font-size:18px;
	line-height:18px;
}
#activities-sec hr{
	width:150px; border:2px solid #fff;
}
#activities-sec p{
	margin:10px 0 0 0;
	color:#fff;
}
#activities-sec a{
	margin:15px 0 0 0;
	color:#fff;
	font-weight:700;
	border:2px solid #fff;
	display:inline-block;
	border-radius:3px;
	padding:5px 10px;
}
#activities-sec a:hover{
	color:#ec1d25;
	background:#fff;
}
#activities-sec .top-off{
	margin-top:40px;
}
#activities-sec .grid-content-left{
	float:left;
	margin-right:20px;
}
#activities-sec .grid-content-left i {
    height: 80px;
    line-height: 80px;
    width: 80px;
	background:#fff;
	text-align:center;
	font-size:36px;
	color:#ec1d25;
	transition: all 0.3s ease-in-out;
}
#activities-sec .grid-content-wrapper {
	float:right;
	width:72%;
}
#activities-sec .top-off:hover .grid-content-left i{
	border-radius:50%;
}

#video-sec{
	display:block;
	width:100%;
	margin:60px 0;
}
#video-sec h1{
	color: #ec1d25;
	text-transform:uppercase;
}
#video-sec hr{
	width:150px; border:2px solid #2f3191;
}
#video-sec p{
	margin:0 0 0 0;
}
#video-sec .top-off{
	margin-top:40px;
}
.grid-image img {
	width:100%;
}
#video-sec .media-image{
	width:85px;
	height:85px;
	margin-right:20px;
	float:left;
}
#video-sec .media-text{
	float:right;
	width:81%;
}
#video-sec .media-text h5{
	margin-top:15px;
}
#video-sec .media-image img{
	width:100%;
}
video {
    width: 100%;
    height: auto;
}

#projects-sec{
	display:block;
	width:100%;
	background: url(../images/project-bg.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	margin:60px 0;
	padding:60px 0;
}
#projects-sec h1, #projects-sec h4, #projects-sec h5{
	color: #fff;
}
#projects-sec h4{
	text-transform:uppercase;
	font-size:18px;
	line-height:18px;
}
#projects-sec hr{
	width:150px; border:2px solid #fff;
}
#projects-sec p{
	margin:10px 0 0 0;
	color:#fff;
}
#projects-sec a{
	margin:15px 0 0 0;
	color:#fff;
	font-weight:700;
	border:2px solid #fff;
	display:inline-block;
	border-radius:3px;
	padding:5px 10px;
}
#projects-sec a:hover{
	color:#ec1d25;
	background:#fff;
}
#projects-sec .top-off{
	margin-top:30px;
}
#projects-sec h3{
	font-size:22px; 
	text-transform:uppercase;
	color:#fff;
	margin:10px 0 0 0;
	line-height:26px;
}
#projects-sec .post-content hr{
	width:100px;
	border:1px solid #fff;
	margin:10px auto;
}

#gallery-sec{
	display:block;
	width:100%;
	margin:60px 0;
}
#gallery-sec h1{
	color: #ec1d25;
}
#gallery-sec hr{
	width:150px; border:2px solid #2f3191;
}
#gallery-sec p{
	margin:15px 0 0 0;
}
#gallery-sec .btn1 {
    border: 2px solid #2f3191;
    border-radius: 3px;
    color: #2f3191;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 9px 20px;
	font-weight:600;
	text-transform:uppercase;
}
#gallery-sec .btn1:hover {
    border: 2px solid #ec1d25;
	background:#ec1d25;
    color: #fff;
}
#gallery-sec .btn2 {
	background:#ec1d25;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 30px 0 0 20px;
    padding: 9px 20px;
	font-weight:600;
	text-transform:uppercase;
}
#gallery-sec .btn2:hover {
    background-color: #2f3191;
    color: #fff;
}
#gallery-sec ul{
	margin:0;
	padding:0;
}
#gallery-sec ul li{
	list-style:none;
	width:23.5%;
	margin:20px 2% 0 0;
	float:left;
}
#gallery-sec ul li:nth-child(4n+0){
	margin:20px 0 0 0;
}
#gallery-sec ul li .image{
	position:relative;
	width:100%;
	overflow:hidden;
}
#gallery-sec ul li .image img{
	width:100%;
	transition: all 0.3s ease-in-out;
}
#gallery-sec ul li .image:hover img{
	transform:scale(1.2);
}
#gallery-sec ul li .image .overlay{
	width:100%;
	height:100%;
	background:rgba(236, 29, 37, 0);
	position:absolute;
	left:0; top:0;
	transition: all 0.3s ease-in-out;
	text-align:center;
	opacity:0;
}
#gallery-sec ul li .image:hover .overlay{
	background:rgba(236, 29, 37, 0.8);
	opacity:1;
}
#gallery-sec ul li .image .overlay i{ color:#fff; font-size:50px; margin:24% 0;
}

.callout {
    padding: 40px 0;
    background: #ec1d25;
}
.callout h2{
	color:#fff;
	font-size:26px;
	text-transform:uppercase;
	line-height:30px
}
.callout .callout-actions {
    padding: 0 0;
    font-size: 0;
    text-align: center;
}
.callout .callout-actions .button {
    display: inline-block;
    vertical-align: top;
    min-width: 213px;
    margin: 0;
	padding: 11px 15px 12px;
    background: transparent;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.callout .callout-separator {
    color: #ec1d25;
    font-weight: bold;
    text-transform: uppercase;
}
.callout .callout-separator span {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 43px;
    font-size: 12px;
}
.callout .callout-separator:before, .callout .callout-separator:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 1px;
    background: #fff;
}
.callout .callout-separator:before, .callout .callout-separator:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 1px;
    background: #fff;
}

.footer .footer-body {
    padding: 60px 0;
    background: #27262c url(../images/footer-bg.png) no-repeat center 0;
}

.footer .footer-section .footer-section-title {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.footer .footer-section .footer-section-title:after {
    content: '';
    display: block;
    width: 46px;
    height: 1px;
    margin: 20px 0 20px;
    background: #ec1d25;
}
.footer .footer-section ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footer .footer-section ul li{
	display:inline-block;
	width:49%;
	margin-bottom:10px;
}
.footer .footer-section b{
	color:#fff;
}
.footer .footer-section ul li a:hover{
	color:#fff;
}
.subscribe .subscribe-field {
    margin: 0;
    height: 40px;
    font-size: 14px;
    padding: 0 18px;
    border: 0;
	width: 100%;
}
.subscribe .subscribe-btn {
    float: right;
    width: 50px;
    height: 40px;
    background: #ec1d25;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.subscribe .subscribe-inner {
    overflow: hidden;
}
.bwt-footer-copyright { font-size:14px; background:#222126; color: #878C92; padding:10px 0; line-height:20px;}
.bwt-footer-copyright .left-text{ text-align:left; margin:10px 0;}
.bwt-footer-copyright .right-text{ text-align:right; margin:10px 0;}
.bwt-footer-copyright a{ color: #6f6f6f; }
.bwt-footer-copyright a:hover{ color: #6f6f6f; }

#inner-banner{
	display:block;
    background:url(../images/inner-bg.jpg) no-repeat center 0;
}
#inner-banner .overlay{
	background:rgba(0,0,0,0.7);
	padding: 150px 0 60px 0;
}
#inner-banner h1{
	color:#fff;
}

#team{
	margin:60px 0;
	display:block;
}
#team h1 {
    color: #ec1d25;
}
#team hr {
    width: 150px;
    border: 2px solid #2f3191;
}
#team .member {
    margin-top: 30px;
}
#team .avatar-inner img{
	width:100%;
}
#team .name a {
    color: #333;
	font-weight:600;
	margin-top:10px;
	display:block;
	font-size:16px;
}
#team .regency {
    color: #999;
    font-style: italic;
    font-size: 14px;
	font-weight:600;
}

#help{
	display:block;
	width:100%;
	background: url(../images/act-bg.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	margin:60px 0;
	padding:60px 0;
}
#help h1, #help h4, #help h5{
	color: #fff;
}
#help h4{
	text-transform:uppercase;
	font-size:18px;
	line-height:18px;
}
#help hr{
	width:150px; border:2px solid #fff;
}
#help p{
	margin:10px 0 0 0;
	color:#fff;
}
#help .icon_circle {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100%;
    line-height: 115px;
    text-align: center;
    color: #ec1d25;
    position: relative;
	float:left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
	margin-right: 30px;
}
#help .help-text {
	float:left;
	width:75%;
}
#help .top-off{
	margin-top:40px;
}
#help .line.line-50 {
    background: #fff;
	margin-right: auto;
	width: 50px;
	height: 1px;
    margin: 10px 0 10px;
}
#help .icon_circle:before {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border: 1px solid #ec1d25;
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
#help .icon_circle i {
    font-size: 40px;
    letter-spacing: -5px;
}

.act-box {
    border: 1px solid #ccc;
}
.act-box .image{
	margin:0 -15px;
}
.act-box .image img {
	width:100%;
}
.act-box .act-pad{
	padding:40px 50px 50px 50px;
}
.act-box h4 {
    border-bottom: 2px dashed #d5d4d4;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: #ec1d25;
	text-transform:uppercase;
}
.act-box .price {
    margin: 20px 0px 0px;
    color: #2f3191;
    float: left;
	font-weight:600;
	font-size: 18px;
}
.act-box .goal {
    color: #ec1d25;
    margin-left: 10px;
}
.act-box .btn1 {
    border: 2px solid #2f3191;
    border-radius: 3px;
    color: #2f3191;
    display: inline-block;
    padding: 9px 20px;
    font-weight: 600;
    text-transform: uppercase;
	float:right;
	margin: 10px 0 0 0 !important;
}
.act-box .btn1:hover {
    border: 2px solid #ec1d25;
    background: #ec1d25;
    color: #fff;
}

#pro-sec {
    display: block;
    width: 100%;
    margin: 60px 0;
}
#pro-sec .top-off {
    margin-top: 30px;
}
#pro-sec h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #ec1d25;
    margin: 10px 0 0 0;
    line-height: 26px;
}
#pro-sec .post-content{
	border: 1px solid #d7d7d7;
	background-color: #f7f7f7;
	padding:0 10px;
}
#pro-sec .post-content hr {
    width: 100px;
    border: 2px solid #2f3191;
    margin: 10px auto;
}
#pro-sec p {
    margin: 10px 0 0 0;
}
#pro-sec a {
	background:#ec1d25;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 15px 0 20px 0;
    padding: 7px 15px;
	font-weight:600;
	text-transform:uppercase;
}
#pro-sec a:hover {
    background-color: #2f3191;
    color: #fff;
}

.google-maps {
    position: relative;
    padding-bottom: 30%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.con-box {
    color: #fff;
    padding:50px 0;
    background-color: #ec1d25;
    -webkit-transition: all 0.4s ease 0s;
    -khtml-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.con-box i {
    font-size: 50px;
}
.con-box h3 {
	color:#fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom:0px;
	-webkit-transition: all 0.4s ease 0s;
    -khtml-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.fancy-box-content p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px;
	margin:0 !important;
}

.con-form input[type=text], .con-form input[type=email], .con-form input[type=password], .con-form input[type=phone], .con-form textarea {
    border-radius: 0;
	width:100%;
	margin-top:30px;
	padding:8px 10px;
	font-weight:600;
	border:1px solid #ccc;
}
#owl-demo .sponser-box img{ width:100%}
#owl-demo .item{ background:#f5f5f5; padding-bottom:1px; margin:10px;}
#owl-demo .item h4 {
    font-size: 22px;
    text-transform: uppercase;
    color: #ec1d25;
    margin: 10px 0 0 0;
    line-height: 26px;
}
#owl-demo .spon-bdr {
	border-top:1px solid #ccc;
	margin-top:5px; padding-top:5px; text-align:left;
}
#owl-demo .btn1 {
    background: #2f3191;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin: 10px 10px;
    padding: 7px 15px;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
	
h1 {
    font-size: 40px;
    line-height: 46px;
}

.navbar > .container .navbar-brand {
    width: 230px;
    padding: 10px 15px !important;
}
.sponsor-button, .donation{
	font-size: 12px;
}
#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2{
	font-size: 50px;
    width: 90%;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
	width: 80%;
}
#first-slider .carousel .item {
    min-height: 450px;
}
#activities-sec .grid-content-left {
    float: none;
    margin:0 auto;
	text-align:center;
	margin-bottom:10px;
}
#activities-sec .grid-content-wrapper {
    float: none;
    width: 100%;
	text-align:center;
}
#video-sec .media-image {
    width: 60px;
    height: 60px;
}
#video-sec .media-text {
    float: right;
    width: 82%;
}
#video-sec .media-text h5 {
    margin-top:0px;
}
.callout h2 {
    font-size: 24px;
}
.callout .callout-actions .button{
	min-width: 176px;
}

#inner-banner .overlay {
    padding: 140px 0 60px 0;
}
#help .help-text {
    width: 71%;
}
#help .icon_circle {
    margin-right: 20px;
}
.breadcrumb {
    margin-top: 10px;
}

.act-box .act-pad {
    padding: 20px 20px 25px 20px;
}

#pro-sec h3 {
    font-size: 20px;
    line-height: 24px;
}
	
}

@media (max-width: 768px) {
	
h1 {
    font-size: 36px;
    line-height: 36px;
}	
	
.topbar .bar-phone span, .topbar .bar-mail span {
	display:none;
}
.topbar .bar-phone, .topbar .bar-mail {
	margin: 9px 0 9px 15px;
}
.topbar .header-social {
    float: right;
    margin: -5px 15px -5px 0;
}

#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2 {
    font-size: 36px;
    width: 90%;
	padding: 17% 0 0 0;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3 {
    font-size: 16px;
    width: 80%;
    margin: 10px auto 0 auto;
    line-height: 24px;
}
#first-slider .carousel .item {
    min-height: 400px;
}
#about-sec, #activities-sec, #video-sec, #project-sec, #gallery-sec, #help {
    margin: 40px 0;
}
#activities-sec, #project-sec, #help {
    padding: 40px 0;
}
#video-sec .media-image {
    width: 80px;
    height: 80px;
}
#video-sec .media-text {
    float: right;
    width: 86%;
}
#video-sec .media-text h5 {
    margin-top: 15px;
}
.grid-image {
    width:75%;
	margin:0 auto;
}
.callout h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.footer .footer-body{
	padding:40px 0;
}
#gallery-sec ul li {
    width: 48%;
}
#gallery-sec ul li:nth-child(4n+0) {
    margin: 20px 0 0 0;
}
#gallery-sec ul li:nth-child(2n+0) {
    margin: 20px 0 0 0;
}

#inner-banner .overlay {
    padding: 110px 0 60px 0;
}
.breadcrumb {
    margin-top: 5px;
}

#pro-sec .grid-image {
    width: 100%;
    margin: 0 auto;
}
	
}

@media (max-width: 768px) {
	
h1 {
    font-size: 30px;
    line-height: 30px;
}	
.topbar .header-social a{
	width: 45px;
}
#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2 {
    font-size: 26px;
    width: 90%;
    padding: 18% 0 0 0;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3 {
    font-size: 14px;
    width: 80%;
    margin: 5px auto 0 auto;
    line-height: 20px;
}
#first-slider .slide1 h4 a, #first-slider .slide2 h4 a, #first-slider .slide3 h4 a, #first-slider .slide4 h4 a {
    color: #fff;
    background: #ec1d25;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 15px;
    font-size: 12px;
}
#first-slider .slide1 h4, #first-slider .slide2 h4, #first-slider .slide3 h4, #first-slider .slide4 h4 {
    margin: 15px auto 0 auto;
}
#first-slider .carousel .item {
    min-height: 350px;
}
nav.navbar.bootsnav .navbar-brand {
    margin: 0 0 0 -5px !important;
}
.donation, .sponsor-button{
	margin: 20px 0 0 0;
}
nav.navbar.bootsnav .navbar-toggle {
    margin-right: 0px;
    margin-top: 23px;
}
#help .help-text {
    width: 100%;
	float:none;
	margin-top:10px;
	text-align: center;
}
#help .icon_circle {
    float: none;
	margin:0 auto;
}
#help .line.line-50 {
    margin: 10px auto;
}

.act-box .act-pad {
    padding: 50px 50px 50px 50px;
}
.google-maps {
    position: relative;
    padding-bottom: 40%;
    overflow: hidden;
}
.bwt-footer-copyright .left-text {
    text-align: center;
}
.bwt-footer-copyright .right-text {
    text-align: center;
}
	
}
@media (max-width: 640px) {
	
#video-sec .media-text {
    float: right;
    width: 83%;
}

#inner-banner .overlay {
    padding: 120px 0 60px 0;
}
.breadcrumb {
    margin-top: 15px;
    text-align: left;
}

.act-box .act-pad {
    padding: 40px 30px;
}
#about-sec h2 {
    margin-top: 30px;
    font-size: 24px;
    line-height: 30px;
}
	
}
@media (max-width: 480px) {

h1 {
    font-size: 26px;
    line-height: 26px;
}
.topbar .header-social {
    display: none;
}
.attr-nav {
    right:0;
    top: 50px;
	width: 100%;
	text-align: center;
}
#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2 {
    font-size: 20px;
	line-height:20px;
    padding: 15% 0 0 0;
}
#first-slider .slide1 h4, #first-slider .slide2 h4, #first-slider .slide3 h4, #first-slider .slide4 h4 {
    margin: 5px auto 0 auto;
}
#video-sec .media-text {
    float: right;
    width: 75%;
}
.callout .callout-separator:before, .callout .callout-separator:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 1px;
    background: #fff;
}
#inner-banner .overlay {
    padding: 170px 0 60px 0;
}

.act-box .act-pad {
    padding: 30px 20px;
}
.act-box .price {
    margin: 15px 0px 0px 0;
    float: none;
}
#about-sec .btn1{
	float:none;
	margin: 15px 0 0 0 !important;
}
.google-maps {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
}
#first-slider{ margin-top: 100px; }
#first-slider .carousel .item {
    min-height: 270px;
}
	
}
@media (max-width: 360px) {

h1 {
    font-size: 20px;
    line-height: 20px;
}
h5 {
    font-size: 15px;
    line-height: 22px;
}
.topbar .bar-phone, .topbar .bar-mail {
    margin: 9px 0 9px 10px;
	font-size:12px;
}
.topbar .bar-phone {
    padding-right: 10px;
}
element.style {
}
#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2 {
    font-size: 16px;
    line-height: 16px;
    padding: 8% 0 0 0;
}
#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3 {
    font-size: 12px;
    width: 80%;
    margin: 5px auto 0 auto;
    line-height: 16px;
}
#video-sec .media-text {
    float: none;
    width: 100%;
    text-align: center;
}
#video-sec .media-image {
    width: 80px;
    height: 80px;
    float: none;
    margin: 0 auto;
}
.callout .callout-separator span {
    display: block;
    margin: 10px auto;
}
.callout .callout-separator:before, .callout .callout-separator:after {
	display:none;
}
#gallery-sec ul li {
    width: 95%;
	float:none; 
	margin: 20px auto 0 auto;
}
#gallery-sec ul li:nth-child(2n+0) {
    margin: 20px auto 0 auto;
}
#projects-sec h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0 0 0;
    line-height: 24px;
}

.act-box .act-pad {
    padding: 20px 0px;
}
#about-sec h2 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}
#first-slider .carousel .item {
    min-height: 220px;
}

}

@media (max-width: 320px) {
	
#first-slider .slide1 h2, #first-slider .slide2 h2, #first-slider .slide3 h2, #first-slider .slide4 h2 {
    font-size: 16px;
    line-height: 16px;
    padding: 6% 0 0 0;
}
#first-slider .carousel .item {
    min-height: 190px;
}

/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
}
    
