<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>

<div class="siimple-navbar siimple-navbar--navy siimple-navbar--fluid">
	<div class="siimple-layout--left">
    	<a class="siimple-navbar-title">DoHelp Docare</a>
 	</div>
  	<div class="siimple-layout--right">
	    <a class="siimple-navbar-link">Home</a>
	    <a class="siimple-navbar-link">Donasi</a>
	    <a class="siimple-navbar-link">Artikel</a>
	    <a th:if="${akunLogin.role != null}" class="siimple-navbar-link" th:href="${'/logout'}" th:text="${akunLogin.role}+'('+${akunLogin.username}+') SignOut'" >Login</a><!--th:if="${akunLogin.role != null}" class="right" style="font-size: 0.6em; color: white;" th:href="${'/logout'}" th:text="${akunLogin.role}+'('+${akunLogin.username}+') SignOut'">Login</a> -->
  	</div> 
</div>
<h2 class="left">Form Donasi</h2>
	<form th:object="${donasi}" th:action="@{/createDonasi}" method="post">
		<div class="col-3">
				<input type="hidden" th:field="*{id}"></input>
				<input type="hidden" th:field="*{id_donatur}"></input>
				<input type="hidden" th:field="*{status}"></input>
				<input type="text" class="form-input" placeholder="Nama Lengkap" th:field="*{nama_lengkap}"></input>
				<input type="text" class="form-input" placeholder="Alamat Lengkap" th:field="*{alamat}"></input>
				<input type="number" class="form-input" placeholder="Kode Pos" th:field="*{kode_pos}"></input>
				<input type="number" class="form-input" placeholder="Nomor Telepon" th:field="*{no_telp}"></input>
	</div>
	<div class="col-3">
			<select class="form-select" onchange="if (this.selectedIndex) pilihJenisDonasi(value)">
				<option value="" disabled="disabled" selected="selected"> Jenis Donasi</option>
				<option value="Barang">Barang</option>
				<option value="Uang">Uang</option>
			</select>
			<input type="text" class="form-input" id="nama_barang" placeholder="Nama Barang" th:field="*{nama_barang}"></input>
			<input type="number" class="form-input" id="jumlah_barang" placeholder="Jumlah barang" th:field="*{jumlah_barang}"></input>
			<input type="number" class="form-input" id="jumlah_uang" placeholder="Jumlah uang(Rp.)" th:field="*{jumlah_uang}"></input>
			<p> <b>Nomor Rekening : 123456789</b></p>
			<input type="submit" th:if="${ifEdit == false}" value="DOnasikan Sekarang" class="btn-outline"></input>
			<input type="submit" th:if="${ifEdit== true}"  value="Edit" class="btn-outline"></input>
				
	</div>
</form>
<div class="col-10">
		<div class="col-12 ">
			<h2 class="left">Daftar Donasi</h2>
			<table class="table">
				<thead>
					<tr>
						<td>Nama Lengkap</td>
						<td>Alamat Lengkap</td> 
						<td>Kode Pos</td> 
						<td>No.Telepon</td> 
						<td>Jenis Donasi</td>
						<td>Nama Barang</td> 
					    <td>Jumlah Barang/Uang</td>
						<td>Status</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r, itrStat : *{allDonasi}"	th:class="${itrStat.odd ? 'even' : 'odd'}">
						<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].nama_lengkap}"></td>
						<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].alamat}"></td>
						<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].kode_pos}"></td>
						<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].no_telp}"></td>
						<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].jenis_donasi}"></td>
							<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].nama_barang}"></td>
								<td th:text="${allDonasi[__${itrStat.size-itrStat.count}__].jumlah}"></td>
						
						<td th:switch="${allDonasi[__${itrStat.size-itrStat.count}__].status}">
							<div th:case="Undone" style="color: red;">Undone</div>
							<div th:case="Done" style="color: green;">Done</div>
						</td>
						<td th:switch="${allDonasi[__${itrStat.size-itrStat.count}__].status}">
							<div th:case="Undone" style="color: red;"><a th:href="@{/psi/donatur/edit/{id}/(id=${allDonasi[__${itrStat.size-itrStat.count}__].id})}">Edit</a> <a th:href="@{/psi/donatur/delete/{id}(id=${allDonasi[__${itrStat.size-itrStat.count}__].id})}">Delete</a></div>
							<div th:case="Done" style="color: green;">Cannot Edit</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(allDonasi)}">
				<h5 class="center">Belum ada Donasi.</h5>
			</div>
			
			</div>
			
			
			
		</div>
	<script th:inline="javascript">
	
	function pilihJenisDonasi(value) {
		if(value == "Uang"{
			document.getElementById("jumlah_barang").disabled = true;
			document.getElementById("nama_barang").disabled = true;
			document.getElementById("jumlah_uang").disabled = false;
		}else (value == "Barang") {
			document.getElementById("jumlah_barang").disabled = false;
			document.getElementById("nama_barang").disabled = false;
			document.getElementById("jumlah_uang").disabled = true;
		}
	}
	$(window).load(function(){
		
	});
	$(document).ready(function(){
		$('#tgl1').datepicker({
			format: "dd/mm/yyyy"
		});
		$('#tgl2').datepicker({
			format: "dd/mm/yyyy"
		});
	});
	
	function pilihJenisDonasi(value) {
		
	}
	</script>
</body>
</html>