<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<section th:replace="navbar"></section>
	<div class="col-10">
		<h2 class="center">Daftar Donasi Barang</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Nama Lengkap</td>	 
						<td>No.Telepon</td> 
						<td>Nama Barang</td> 
					    <td>Jumlah Barang</td>
						<td>Status</td>
						<td>Aksi</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r:${barang}">
					<td th:text="${r.namalengkap}"></td>
					<td th:text="${r.notelp}"></td>
					<td th:text="${r.namabarang}"></td>
					<td th:text="${r.jumlahbarang}"></td>
					<td th:text="${r.status}"></td>
					<td th:if="${r.status== 'Menunggu Konfirmasi Sukarelawan'}"><a th:href="@{'/konfirmasibarang/'+${r.id}}"><button class="btn btn-success">Terima</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-10">
		<h2 class="center">Daftar Donasi Uang</h2>
		<table class="table">
			<thead>
				<tr>
					<td>Nama Lengkap</td>
						<td>Alamat Lengkap</td> 
						<td>No.Telepon</td> 
					    <td>Jumlah Uang</td>
						<td>Status</td>
						<td>Aksi</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r:${uang}">
					<td th:text="${r.namalengkap}"></td>
					<td th:text="${r.notelp}"></td>
					<td th:text="${r.jumlahuang}"></td>
					<td th:text="${r.status}"></td>					
					<td th:if="${r.status== 'Menunggu Konfirmasi Sukarelawan'}"><a th:href="@{'/konfirmasiuang/'+${r.id}}"><button class="btn btn-success">Terima</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>