<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>

	<section th:replace="navbar"></section>

	<div class="siimple-content siimple-content--large"
		style="background: white;">

		<br /> <br />

		<div class="siimple-grid">
			<div class="siimple-grid-row">
				<div class="siimple-grid-col siimple-grid-col--12" align="center">


					<img width="700" height="400" src="/images/slide2.jpg" />

				</div>
				<br />
				<div class="siimple-grid-col siimple-grid-col--12" align="center">

					<div class="siimple-btn siimple-btn--navy">Donasikan Sekarang</div>
					<br /> <br />
				</div>
			</div>
		</div>
	</div>




</body>
<div class="siimple-footer siimple-footer--small siimple-footer--grey "
	align="center">
	<h5>PSI Kelompok 09</h5>
</div>
</html>