<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>


	<section th:replace="navbar"></section>

<div class="col-12">
		<div class="col-8 vertikal-line-right">
			<h2 class="center">Keuangan</h2>
				<table class="table">
					<thead>
					<tr>
						<td>Nama Sponsor</td>
						<td>Jumlah Dana</td> 
						<td>Tanggal Terima</td>
						
						<td>Status</td>
						
					</tr>
				</thead> 
				<tbody>
					<tr th:each="r, itrStat : *{allKeuangan}"	th:class="${itrStat.odd ? 'even' : 'odd'}">
						<td th:text="${allKeuangan[__${itrStat.size-itrStat.count}__].nama_sponsor}"></td>
						<td th:text="${allKeuangan[__${itrStat.size-itrStat.count}__].jumlah}"></td>
						<td th:text="${allKeuangan[__${itrStat.size-itrStat.count}__].tanggal_terima}"></td>
						<!-- <td th:text="${allKeuangan[__${itrStat.size-itrStat.count}__].keterangan}"></td>
						 -->
						<td th:switch="${allKeuangan[__${itrStat.size-itrStat.count}__].status}">
							<div th:case="Undone" style="color: green;">Diterima</div>
							<div th:case="Done" style="color: green;">Diterima</div>
						</td>
						<td th:switch="${allKeuangan[__${itrStat.size-itrStat.count}__].status}">
							<div th:case="Undone" style="color: red;"><a th:href="@{/createKeuangan/edit/{id}/(id=${allKeuangan[__${itrStat.size-itrStat.count}__].id})}">Edit</a> <a th:href="@{/createKeuangan/delete/{id}(id=${allKeuangan[__${itrStat.size-itrStat.count}__].id})}">Delete</a></div>
							<div th:case="Done" style="color: green;">Cannot Edit</div>
						</td>
 					</tr>
 				</tbody>
			</table>
	
			<h3  class="center" th:if="${#lists.isEmpty(allKeuangan)}">Tidak ada sponsor.</h3>
			
			
	
		</div>
		
		<div class="col-3">
			<h2 class="left"> Add Dana Sponsor</h2>
			<form  th:object="${keuangan}" th:action="@{/createKeuangan}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{id_admin}"/>
				<input type="hidden" th:field="*{nama_admin}"/>
				<input type="hidden" th:field="*{status}"/>
				<input type="text" class="form-input" placeholder="Nama Sponsor" th:field="*{nama_sponsor}"/>
				<input type="number" class="form-input" placeholder="Jumlah Dana" th:field="*{jumlah}"/>
				<input type="text" id="tgl1" class="form-input" placeholder="Tanggal Terima" th:field="*{tanggal_terima}"/>
				
				<input type="submit" th:if="${ifEdit == false}" value="Tambah" class="btn-outline"/>
				<input type="submit" th:if="${ifEdit== true}"  value="Edit" class="btn-outline"/>
				
			</form>
		</div>
	<div th:replace="layout :: script"></div>
	<script th:inline="javascript">
	$(window).load(function(){
		
	});
	$(document).ready(function(){
		$('#tgl1').datepicker({
			format: "dd/mm/yyyy"
		});
		$('#tgl2').datepicker({
			format: "dd/mm/yyyy"
		});
	});
	</script>
	</div>
</body>
</html>