<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">
</head>
<body>
	<section th:replace="navbar"></section>
	<div class="box box-warning">
		<div class="box-header with-border">
			<h3 class="box-title">List Artikel</h3>
		</div>
		<div class="box-body">

			<div>
				<div class="col-10">
					<table class="table">
							<tr>
								<td><b>No.</b></td>
								<td><b>Judul</b></td>
								<td><b>Option</b></td>
							</tr>
		
							<tr th:each="l : ${list_artikel}">
								<td><span th:text="${l.id}"></span></td>
								<td><a th:href="@{/view-artikel/{id}(id=${l.id})}"><span th:utext="${l.judul_artikel}"></span></a></td>
								<td><a th:href="@{/createArtikel/edit/{id}(id=${l.id})}">Edit</a>
								
								<a th:href="@{/createArtikel/delete/{id}(id=${l.id})}">delete</a></td>
								
							</tr>
					</table>
						<div class="siimple-btn siimple-btn" >
						<a th:href="@{/createArtikel}" data-target="#squarespaceModal">Create Artikel</a>
						</div>
				</div>
			

			</div>

		</div>
	</div>
 

</body>
</html>
