<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>


	<section th:replace="navbar"></section>

	<div class="col-12">
		<br />
		<div class="col-2"></div>
		<div class="col-5 vertikal-line-right">
			<h2 class="right">Sign In</h2>
			<form th:action="@{/login}" method="post">
				<input type="text" class="form-input" placeholder="Username"
					name="user" /> <input type="password" class="form-input"
					placeholder="Password" name="pass" />
				<div th:switch="${loginMessage}">
					<p th:case="error" style="color: red; font-size: 1em;">Wrong
						Account</p>
				</div>
				<label class="myCheckbox"> <input type="checkbox"
					name="test" id="test" />
				</label> <label for="test">Remember Me</label> <input type="submit"
					value="Sign In" class="btn right" />
			</form>
		<div>
			<label>klik disini untuk <a th:href="@{/daftar}"> Daftar</a></label>
		</div>
		</div>
	</div>
</body>
</html>