<html xmlns:th="http://www.thymeleaf.org">
<div class="siimple-navbar siimple-navbar--navy siimple-navbar--fluid">
	<div class="siimple-layout--left">
		<a class="siimple-navbar-title">DoHelp Docare</a>
	</div>
	<div class="siimple-layout--right">
		
		<a href="/psi" data-target="#squarespaceModal"
			class="siimple-navbar-link">Home</a> 
		
		<a
			th:href="@{/donasibarang}" class="siimple-navbar-link">Donasi Barang
		</a>
		<a
			th:href="@{/donasiuang}" class="siimple-navbar-link">Donasi Uang
		</a>

		<a href="/artikel" data-target="#squarespaceModal"
			class="siimple-navbar-link">Artikel</a> 
		<a href="/createKeuangan"
			data-target="#squarespaceModal" class="siimple-navbar-link">Keuangan</a>
		<a href="/homeSukarelawan" data-target="#squarespaceModal"
			class="siimple-navbar-link">Sukarelawan</a> 
		<a th:if="${akunLogin.role}==null" th:href="@{/login}"
			data-target="#squarespaceModal" class="siimple-navbar-link">Login</a>
		<a th:if="${akunLogin.role}!=null" th:href="@{/logout}"
			data-target="#squarespaceModal" class="siimple-navbar-link">Logout</a>
		<!-- th:if="${akunLogin.role != null}" class="right" style="font-size: 0.6em; color: white;" th:href="${'/logout'}" th:text="${akunLogin.role}+'('+${akunLogin.username}+') SignOut'">Login</a> -->
	</div>
</div>

</html>